body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

b {
  font-weight: bold; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  font-size: 1.25rem;
  font-weight: 300; }

h3 {
  font-size: 0.875rem;
  color: white; }

p {
  font-size: 0.875rem;
  font-weight: 300;
  color: #acabab; }

.section-container {
  height: 100%;
  padding-right: 9.375%;
  padding-left: 9.3%; }

.logo {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase; }
  .logo .logo__name {
    font-size: 1.8rem;
    font-weight: bold;
    unicode-bidi: bidi-override;
    direction: rtl; }
    .logo .logo__name::first-letter {
      color: #ff7200; }
  .logo .logo__slogan {
    font-size: 0.643rem; }

.icon_in-title {
  margin-right: 0.5rem; }

.menu-btn {
  position: relative;
  width: 50px;
  z-index: 3;
  display: none;
  height: 50px; }
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    height: 5px;
    background-color: black;
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
    .menu-btn span::before {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 100%;
      height: 5px;
      background-color: black;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 5px;
      background-color: black;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
  .menu-btn:hover span, .menu-btn:hover span::before, .menu-btn:hover span::after {
    background-color: #ff7200; }

.menu-btn_active span {
  height: 0; }
  .menu-btn_active span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }
  .menu-btn_active span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }

.input-holder {
  position: relative;
  width: 100%;
  color: #acabab; }
  .input-holder::after {
    position: absolute;
    left: 90%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900; }

.input-holder_for-name::after {
  top: 25%;
  content: "\f007"; }

.input-holder_for-mail::after {
  top: 25%;
  content: "\f0e0"; }

.input-holder_for-message::after {
  top: 10%;
  content: "\f303"; }

.input_custom, .input-button, .textarea_custom {
  border: none;
  border-radius: 3px; }

.input_custom, .input-button {
  height: 35px; }

.input_custom, .textarea_custom {
  position: relative;
  width: 100%;
  padding-left: 1em;
  margin-bottom: 0.875rem;
  color: #bdbdbd; }
  .input_custom:hover, .textarea_custom:hover {
    border: 2px solid #ff7200; }

.textarea_custom {
  height: 7.5rem;
  padding-top: 1rem; }

.input-button {
  width: 7rem;
  margin-top: 0.5rem;
  color: #f7f7f7;
  text-transform: uppercase;
  background-color: #ff7200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s; }
  .input-button:hover {
    color: #ff7200;
    background-color: white;
    border: 1px solid #ff7200; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }
  .social-list .social-item {
    width: 2.7rem;
    height: 2.7rem;
    color: inherit;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color 0.5s ease 0s , border-color 0.5s ease 0s;
    transition: color 0.5s ease 0s , border-color 0.5s ease 0s; }
    .social-list .social-item:hover {
      color: #ff7200;
      border-color: #ff7200; }
    .social-list .social-item .social-link {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0 1rem; }
  .nav-block .nav-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav-block .nav-item .drop-holder {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 3.9rem;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease 0s , visibility 0.5s ease 0s;
      transition: opacity 0.5s ease 0s , visibility 0.5s ease 0s; }
      .nav-block .nav-item .drop-holder .drop-menu {
        width: 15.9375rem;
        list-style-position: inside;
        list-style-type: disc;
        background-color: #343434;
        border-radius: 3px; }
        .nav-block .nav-item .drop-holder .drop-menu .drop-item {
          position: relative;
          padding: 1rem;
          color: white; }
          .nav-block .nav-item .drop-holder .drop-menu .drop-item .drop-item__link {
            display: inline-block;
            width: 85%;
            color: #bbb;
            text-align: left;
            text-transform: uppercase;
            -webkit-transition: color 0.5s ease 0s;
            transition: color 0.5s ease 0s; }
            .nav-block .nav-item .drop-holder .drop-menu .drop-item .drop-item__link:hover, .nav-block .nav-item .drop-holder .drop-menu .drop-item .drop-item__link:active {
              color: white; }
    .nav-block .nav-item .nav-item__link {
      position: relative;
      z-index: 10;
      padding: 1rem;
      color: black;
      text-transform: uppercase;
      -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s; }
      .nav-block .nav-item .nav-item__link:hover {
        color: inherit;
        background-color: inherit;
        border-radius: inherit; }
    .nav-block .nav-item .drop-menu_sub2 {
      position: absolute;
      top: 0;
      left: 100%;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease 0s , visibility 0.5s ease 0s;
      transition: opacity 0.5s ease 0s , visibility 0.5s ease 0s; }
    .nav-block .nav-item .drop-menu_sub1 {
      position: relative;
      top: inherit;
      left: inherit;
      display: block; }
      .nav-block .nav-item .drop-menu_sub1 .drop-item_sub1::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        opacity: 0;
        -webkit-transition: opacity 0.5s ease 0s;
        transition: opacity 0.5s ease 0s; }
      .nav-block .nav-item .drop-menu_sub1 .drop-item_sub1:hover::after {
        opacity: 1; }
      .nav-block .nav-item .drop-menu_sub1 .drop-item_sub1:hover .drop-menu_sub2 {
        visibility: visible;
        opacity: 1; }
    .nav-block .nav-item:hover .drop-holder {
      visibility: visible;
      opacity: 1; }
    .nav-block .nav-item:hover .nav-item__link {
      color: #ff7200;
      background-color: #343434;
      border-radius: 3px; }
  .nav-block .nav-item_spread {
    margin-left: 175px; }

.header__logo-holder {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 8.3rem;
  height: 3.5rem;
  border: 1px solid black;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  height: 5.7rem;
  padding-top: 1rem;
  background-color: #fff;
  border-top: 2px solid #ff7200;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  .header .section-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.breadcrumb-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.breadcrumb-list {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: none;
  -ms-flex-align: none;
  align-items: none; }
  .breadcrumb-list .breadcrumb-list-item {
    -webkit-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s; }
    .breadcrumb-list .breadcrumb-list-item:not(:last-child)::after {
      content: '\00a0>\00a0'; }
    .breadcrumb-list .breadcrumb-list-item:hover {
      color: #ff7200; }
  .breadcrumb-list .breadcrumb__page-name_active {
    color: #ff7200; }

.welcome {
  height: 22rem;
  padding-top: 8.5rem;
  padding-bottom: 1.3rem;
  color: white;
  background-image: url(../images/cover.png);
  background-position: center;
  background-size: cover; }
  .welcome .section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .welcome .section-container .title {
      font-size: 2rem;
      font-weight: 600;
      color: #f0f0f0;
      text-align: center; }
      .welcome .section-container .title .title__text {
        padding-top: 0.8rem;
        font-size: 1rem;
        font-weight: 300; }

.works__element {
  -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
  color: #666;
  background-color: unset;
  border: 1px solid #e4e4e4; }
  .works__element:hover {
    color: white;
    background-color: #ff7200; }

.works__element_active {
  color: white;
  background: #ff7200; }

.works-filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .works-filter .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .works-filter .filter-list .filter-item {
      padding: 0.8rem 1rem;
      margin: 0;
      border-radius: 0%; }

.works-item {
  width: 25%; }
  .works-item .works-item-holder {
    margin: 0.9rem 1rem;
    text-align: center;
    border: 1px solid #e4e4e4; }
    .works-item .works-item-holder .works-img-holder {
      position: relative; }
      .works-item .works-item-holder .works-img-holder .works-img {
        width: 100%;
        height: 11.3rem;
        -o-object-fit: cover;
        object-fit: cover; }
      .works-item .works-item-holder .works-img-holder .works-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-transition: opacity 0.5s ease 0s;
        transition: opacity 0.5s ease 0s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 3.7rem;
        opacity: 0; }
        .works-item .works-item-holder .works-img-holder .works-overlay .works-overlay-icons-holder {
          padding: 1.25rem;
          border: 1px solid #f0f0f0;
          border-radius: 50%;
          -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
          transition: color 0.5s ease 0s , background-color 0.5s ease 0s; }
          .works-item .works-item-holder .works-img-holder .works-overlay .works-overlay-icons-holder:hover {
            color: #ff7200;
            background-color: #fff; }
      .works-item .works-item-holder .works-img-holder:hover .works-overlay {
        opacity: 0.8; }
    .works-item .works-item-holder .works-item-title {
      padding-top: 1rem;
      font-size: 1.14rem; }
    .works-item .works-item-holder .works-item-type {
      padding: 0.7rem 0 1rem;
      font-weight: 300; }

.isotope-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.2rem;
  margin: 0 -0.2rem; }
  .isotope-pager .pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem; }
    .isotope-pager .pager:first-child {
      margin-right: 0.75rem; }
    .isotope-pager .pager:last-child {
      margin-left: 0.25rem; }

.works {
  padding-top: 6.2rem;
  padding-bottom: 11rem; }
  .works .section-container .works-list {
    margin: 2.6rem -1rem; }

.block-title {
  width: 100%;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }
  .block-title .block-title__icon {
    font-size: 1.25rem; }

.block-item__text {
  color: #acabab; }

.block-item__name, .block-item__text {
  line-height: 1.5em; }

.block-item__text_small {
  font-size: 0.8125rem; }

.block-item__text_orange {
  color: #ff7200; }

.block-item__text_hidden {
  height: 0;
  overflow: hidden; }

.articles-list .articles-item {
  padding-bottom: 1.6rem; }
  .articles-list .articles-item .articles-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .articles-list .articles-item .articles-holder .articles-img {
      max-width: 3.5rem;
      max-height: 3.5rem;
      margin-right: 0.9rem;
      -o-object-fit: cover;
      object-fit: cover; }

.service-list .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0.9rem;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid white; }
  .service-list .service-item .icon_unhide-text-below {
    position: relative;
    width: 15px;
    height: 15px;
    background: #ff7200;
    border-radius: 50%; }
    .service-list .service-item .icon_unhide-text-below::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      content: '+';
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.service-list .active .block-item__text_hidden {
  height: auto;
  overflow: unset; }

.service-list .active .icon_unhide-text-below::before {
  content: '-'; }

.about-us {
  width: 100%;
  padding-top: 3.6rem;
  padding-bottom: 5rem;
  color: white;
  background: #303030;
  border-color: #fff; }
  .about-us .section-container .section-block-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .about-us .section-container .section-block-list .section-block-item {
      width: 22.5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
      .about-us .section-container .section-block-list .section-block-item .contact-list .contact-list-item {
        padding-bottom: 1rem;
        font-weight: 300; }
      .about-us .section-container .section-block-list .section-block-item .contact-forms {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }

.footer {
  min-height: 4.375rem;
  padding-top: 1rem;
  color: white;
  background: #202020; }
  .footer .section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .section-container .footer__logo-holder {
      min-width: 6.25rem;
      padding-bottom: 0.5rem; }
    .footer .section-container .copyright {
      width: 56%;
      font-size: 0.875rem;
      font-weight: 300;
      text-align: left; }
    .footer .section-container .footer-nav {
      margin: 0 -1rem;
      font-weight: 300;
      color: #acabab;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .section-container .footer-nav .footer-nav-item {
        margin: 0 0.8rem;
        -webkit-transition: color 0.5s ease 0s;
        transition: color 0.5s ease 0s; }
        .footer .section-container .footer-nav .footer-nav-item:hover {
          color: white; }

@media only screen and (max-width: 1200px) {
  .header .section-container .nav-block .nav-item .nav-item__link {
    padding: 1rem 0.5rem;
    font-size: 12px; }
  .social-list .social-item {
    width: 2rem;
    height: 2rem; }
  .footer .section-container .footer-nav .footer-nav-item {
    margin: 0 0.4rem; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px; }
  .header .section-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end; }
    .header .section-container .nav-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      position: absolute;
      top: 5rem;
      left: -30%;
      width: 33vw;
      background-color: white;
      opacity: 0;
      -webkit-transition: right 1s;
      transition: right 1s; }
      .header .section-container .nav-block .nav-item {
        width: 100%;
        text-align: left; }
        .header .section-container .nav-block .nav-item::after {
          top: 2rem; }
        .header .section-container .nav-block .nav-item .drop-holder {
          bottom: -340%;
          left: 100%;
          width: inherit;
          padding-top: 0; }
          .header .section-container .nav-block .nav-item .drop-holder .drop-menu {
            width: 33vw;
            font-size: 12px; }
            .header .section-container .nav-block .nav-item .drop-holder .drop-menu .drop-item .drop-item__link {
              width: 75%; }
        .header .section-container .nav-block .nav-item .nav-item__link {
          width: 100%; }
      .header .section-container .nav-block .nav-item_spread {
        margin-left: 0; }
    .header .section-container .nav_active {
      left: 0;
      opacity: 1; }
    .header .section-container .menu-btn {
      display: block; }
  .works .section-container .works-filter .filter-list .filter-item {
    padding: 0.5rem; }
  .works .section-container .works-list .works-item {
    width: 33%; }
  .about-us .section-container .section-block-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about-us .section-container .section-block-list .section-block-item {
      width: 48%;
      padding: 1rem 0;
      border-top: 1px solid white; }
  .footer .section-container .copyright {
    width: 40%;
    padding-left: 1rem; }
  .footer .section-container .footer-nav {
    font-size: 12px; } }

@media only screen and (max-width: 576px) {
  .works .section-container .works-filter .filter-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .works .section-container .works-filter .filter-list .filter-item {
      width: 33%; }
  .works .section-container .works-list .works-item {
    width: 50%; }
  .about-us .section-container .section-block-list .section-block-item {
    width: 100%; }
    .about-us .section-container .section-block-list .section-block-item .social-list {
      width: 50%; }
  .footer .section-container {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .section-container .copyright {
      width: 70%; }
    .footer .section-container .footer-nav {
      padding: 1em 0; } }
