.nav-block {
    @include flex(unset, unset, space-between, start);

    margin: 0 1rem;

    .nav-item {
        position: relative;
        // margin: 0 0.35rem;

        @include flex(unset, unset, center, center);

        .drop-holder {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 3.9rem;
            visibility: hidden;
            opacity: 0;

            @include transition(opacity visibility);

            .drop-menu {
                width: 15.9375rem;
                list-style-position: inside;
                list-style-type: disc;
                background-color: #343434;
                border-radius: 3px;

                .drop-item {
                    position: relative;
                    padding: 1rem;
                    color: white;

                    .drop-item__link {
                        display: inline-block;
                        width: 85%;
                        color: #bbb;
                        text-align: left;
                        text-transform: uppercase;

                        @include transition(color);

                        &:hover,&:active {
                            color: white;
                        }
                    }
                }
            }
        }

        .nav-item__link {
            position: relative;
            z-index: 10;
            padding: 1rem;
            color: black;
            text-transform: uppercase;

            @include transition(color background-color);

            &:hover {
                color: inherit;
                background-color: inherit;
                border-radius: inherit;
            }
        }

        .drop-menu_sub2 {
            position: absolute;
            top: 0;
            left: 100%;
            visibility: hidden;
            opacity: 0;

            @include transition(opacity visibility);
        }

        .drop-menu_sub1 {
            position: relative;
            top: inherit;
            left: inherit;
            display: block;

            .drop-item_sub1 {
                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f054";
                    opacity: 0;

                    @include transition(opacity);
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }

                    .drop-menu_sub2 {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        &:hover {
            .drop-holder {
                visibility: visible;
                opacity: 1;
            }

            .nav-item__link {
                color: $orange;
                background-color: #343434;
                border-radius: 3px;
            }
        }
    }

    .nav-item_spread {
        margin-left: 175px;
    }
}


.header__logo-holder {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 8.3rem;
    height: 3.5rem;
    border: 1px solid black;
    transform: translateX(-50%);

    @include flex(unset, column, center, center);
}

.header {
    height: 5.7rem;
    padding-top: 1rem;
    background-color: #fff;
    border-top: 2px solid $orange;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;

    .section-container {
        position: relative;

        @include flex(unset, unset, center, center);
    }
}
