.breadcrumb-holder {
    width: 100%;

    @include flex(unset, unset, flex-end, center);
}

.breadcrumb-list {
    color: inherit;

    @include flex(unset, unset, stretch, none);

    .breadcrumb-list-item {
        @include transition(color)

        &:not(:last-child)::after {
            content: '\00a0>\00a0';
        }

        &:hover {
            color: $orange;
        }
    }

    .breadcrumb__page-name_active {
        color: $orange;
    }
}

.welcome {
    height: 22rem;
    padding-top: 8.5rem;
    padding-bottom: 1.3rem;
    color: white;
    background-image: url(../images/cover.png);
    background-position: center;
    background-size: cover;

    .section-container {
        @include flex(unset, column, space-between, center);

        .title {
            font-size: 2rem;
            font-weight: 600;
            color: #f0f0f0;
            text-align: center;

            .title__text {
                padding-top: 0.8rem;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }
}
