#footer {
    min-height: 245px;

    .footer-input-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9375rem;
        color: #666;
    }

    .copyright {
        height: 63px;
        font-family: 'Playfair Display', serif;
        font-size: 0.875rem;
        font-weight: bold;
    }
}
