.social-list {
    @include flex(unset, unset, space-between, unset);

    .social-item {
        width: 2.7rem;
        height: 2.7rem;
        color: white;
        border: 1px solid white;
        border-radius: 50%;

        @include flex(unset, unset, center, center);
        @include transition(color border-color);

        &:hover {
            color: $orange;
            border-color: $orange;
        }
    }
}