// html {
//     font-family: 'Montserrat', sans-serif;
//     font-size: 16px;
// }

body {
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

b {
    font-weight: bold;
}

.welcome-container, .works-container, .about-us-container, .footer {
    padding-right: 9.375%;
    padding-left: 9.3%;
}

a {
    color: unset;
    text-decoration: unset;
}

h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

h3 {
    font-size: 0.875rem;
    color: white;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #acabab;
}
