section.welcome
    .section-container
        h1.title PORTFOLIO PAGE 4 Columns
            p.title__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
        nav.breadcrumb(aria-label='Breadcrumb')
            ul.breadcrumb-list
                li.breadcrumb-list-item
                    a(href='') Home
                li.breadcrumb-list-item
                    a(href='') Pages
                li.breadcrumb-list-item
                    span.breadcrumb__page-name_active(aria-current='page') About Us Page