#footer.bg-white.pt-5 
    .row.d-flex.align-items-center.justify-content-between
        .col-2.col-sm-4.p-0 
            a(href="#")
                img.img-fluid(src="images/logo.png", alt="breviter")
        .col-7.col-sm-5.d-flex.flex-column.justify-content-start.align-items-start.p-0 
            .my-2.footer-input-text.w-100.ps-3.ps-xl-5 Subscribe now to receive our daily updates..
            form.subscribe-form.ps-3.ps-xl-5.text-start.btn-group
                input.form-control.footer-input.ps-xl-4(type="email" placeholder="Enter your e-mail here...")
        .col-3.d-flex.justify-content-end
            a.btn.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center.p-0.top-btn(href="#") 
                i.fas.fa-chevron-up
                .btn-text
                    b.text-uppercase to top
    .copyright.d-flex.justify-content-center.align-items-center
        i.text-center @2015 - Copyright All Right Reserved. Designed and Developed by Whoever.
