doctype html
html(lang='en')
  head
    include head.pug    
  body
    include 1header.pug
    block content
    include 5footer.pug
    script(src='js/jquery-3.6.0.min.js')
    script(src='js/imagesloaded.pkgd.min.js')
    script(src="js/isotope.pkgd.min.js")
    script(src="js/jquery.fancybox.min.js")
    script(src='js/mmenu-light.js')
    script(src='js/functions.js')
    script(src='js/isotope-custom.js')