extends page.pug
block content
    .works 
        .section-container
            .works-list
                .works-item(style='position: absolute; left: 0px; top: 0px;')
                    .works-item-holder
                        .works-img-holder
                            img.works-img(src='images/Portfolio-Image-1.png' alt='Yellow Old Car')
                            .works__element
                        .works-item-title Yellow Old Car
                        .works-item-type Retro, Yellow